- if @post.images.present?
  .row
    - @post.images.each do |image|
      .image-min-container
        .image-wrapper
          = image_tag image.image_url, class: 'post-image-min'
        = link_to 'Удалить изображение', post_remove_image_path(post_id: @post.id, image_id: image.id), data: { remote: true, confirm: 'Вы уверены?', method: :delete }, class: 'button warning'