.small-10.columns.container
  .row
    %h3
      Редактировать сообщение

  .row
    = form_for @post do |f|
      .row
        = f.label :title, 'Заголовок'
        = f.text_field :title, maxlength: 60

      .row
        = f.label :post_type, 'Тип сообщения'

        = f.radio_button :post_type, 'rule', checked: "#{@post.post_type == 'rule' ? 'checked' : ''}"
        = f.label :post_type, 'Правила'

        = f.radio_button :post_type, 'usefully', checked: "#{@post.post_type == 'usefully' ? 'checked' : ''}"
        = f.label :post_type, 'Полезная информация'

        = f.radio_button :post_type, 'fine', checked: "#{@post.post_type == 'fine' ? 'checked' : ''}"
        = f.label :post_type, 'Штрафы'

      .row
        = f.label :description, 'Текст сообщения'
        = f.text_area :description, rows: 12, class: 'tinymce'
        = tinymce

      #images_container
        = render 'images'

      .row#images
        = link_to 'Добавить URL картинки', '', class: 'button success add-image'

      .post-buttons
        = f.submit 'Обновить сообщение', name: nil, class: 'button'
        = link_to 'Назад', posts_path, class: 'button alert'

:javascript
  $('.add-image').click(function(e) {
    e.preventDefault();

    $('#images').append('<label for="images">URL изображения</label><input type="text" name="images[]">');
  });