.small-4.columns.container.left#menu
  = render 'layouts/menu'

.small-8.columns.container
  - @posts.each do |p|
    .row
      .small-12.columns.left
        %h3
          = link_to p.title, post_path(p)

    %hr