.small-8.columns.container
  - if cookies[:logged]
    = link_to 'Редактировать', edit_post_path(@post), class: 'button'
    = link_to 'Удалить', post_path(@post), data: { confirm: 'Вы уверены?', method: :delete }, class: 'button'

  .row
    %h1
      = @post.title

  %hr

  .row
    .small-12
      = @post.description.html_safe

  %hr

  - if @post.images.present?
    .row
      - @post.images.each do |image|
        .small-12
          = image_tag image.image_url, class: 'post-image'

    %hr

  = link_to 'Назад', posts_path(post_type: @post.post_type), class: 'button alert'