html, body {
  width: 100%;
  height: 100%;

  button, .button {
    border-radius: 25px !important;
    padding: 10px 20px !important;
  }

  .button-small {
    font-size: 14px;
    padding: 5px 15px !important;
    margin-bottom: 15px;
  }

  .container {
    margin: 0 auto;
    float: none;
    margin-top: 30px;
  }

  .page-head {
    background-color: #3c3e42;

    h1 {
      color: #c9c9c9;
      margin: 0;
      text-align: center;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .add-post {
        border: 2px solid #c9c9c9;
        display: inline-block;
        width: 42px;
        height: 42px;
        line-height: 30px;
        border-radius: 25px;
        color: #c9c9c9;
      }
    }

    #login {
      color: #c9c9c9;
      margin: 0 -10px;
      text-decoration: none;
      outline: none;
    }

    #login-form {
      .white-label {
        color: #ffffff;
      }
    }
  }

  section.admin {
    min-height: 100%;
    overflow: hidden;

    #main {
      height: 100%;
      background-color: #f5f5f5;
      margin-bottom: -10000px;
      padding: 20px 20px 10000px;

      .row {
        max-width: 1200px !important;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}