.post-buttons {
  margin-top: 20px;
}

form .add-image {
  margin-top: 10px;
}

.post-image {
  max-width: 550px;
  max-height: 500px;
  margin-bottom: 20px;
}

.image-min-container {
  width: 250px;
  height: 300px;
  float: left;

  .image-wrapper {
    display: inline-block;
    height: 220px;
    width: 270px;

    .post-image-min {
      max-width: 250px;
      max-height: 200px;
      margin: 20px 20px 0 0;
    }
  }

  a {
    margin-top: 10px;
  }
}

#menu {
  ul {
    li {
      background: #c6c6c6 none repeat scroll 0 0;
      border-bottom: 1px solid #7d7d7d;
      list-style: outside none none;
      line-height: 60px;
      height: 63px;

      a {
        color: #fff;
        font-size: 25px;
        padding: 0 25px;
        display: inline-block;
        width: 100%;
        height: 63px;
      }
    }

    .chosen {
      background-color: #888888;
    }
  }
}