= form_for :sign, url: login_path, remote: true do |f|

  = f.label :login, 'Логин', class: 'white-label'
  = f.text_field :login, autocomplete: "off"

  = f.label :password, 'Пароль', class: 'white-label'
  = f.password_field :password

  = f.submit 'Залогинится', name: nil, class: 'button'

:javascript
  $('input:submit').click(function(e) {
    $('#login-form').hide();
  });