%ul
  %li
    = link_to 'Правила', posts_path(post_type: 'rule'), class: "#{ (!params[:post_type].present? || params[:post_type] == 'rule') ? 'chosen' : ''}"
  %li
    = link_to 'Информация', posts_path(post_type: 'usefully'), class: "#{ params[:post_type] == 'usefully' ? 'chosen' : ''}"
  %li
    = link_to 'Штрафы', posts_path(post_type: 'fine'), class: "#{ params[:post_type] == 'fine' ? 'chosen' : ''}"