!!!
%html
%head
  %title
    Bezlikie
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  .small-12.page-head
    %h1
      Альянс "
      = link_to 'Без', '', id: 'login'
      ликие"

      - if cookies[:logged]
        = link_to '+', new_post_path, class: 'add-post'

    #login-form
      .row
        .small-6.columns.container
          = render 'layouts/login_partial'

  %section.admin
    .small-12#main
      .row
        = yield

:javascript
  $('#login-form').hide();

  $('#login').click(function(e) {
    e.preventDefault();
    e.stopPropagation();

    $('#login-form').show();
  });